body{
    margin: 0;
    background: pink;
    text-align: center;
}

.white-box {
    max-width: 2000px;
    width: 50%;
    height: 100px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    background-color: white;
    align-self: center;
  }